
<form><input type="hidden" name="_token" value="{{ csrf_token() }}"> <button class="list-group-item" formaction="/queue" name="song" formmethod="post" value="{{ song.file }}" onclick="submit">{{ song.Title }}</button></form>