{% extends 'layouts/html.twig' %}

{% block mainContent %}
	<div class="col-xs-12">
		<div class="list-group">
			{% for artist in artists %}
				<button type="button" class="list-group-item">{{ artist }}</button>
			{% endfor %}
		</div>
	</div>
{% endblock %}