{% extends 'layouts/html.twig' %}

{% block mainContent %}
	<div class="col-xs-12">
		<div class="list-group">
			{% if listingType == 'artist' %}
				{% for artist in artists %}
					{% include 'listing/partials/artist-item' with {artist:artist} %}
				{% endfor %}
			{% elseif listingType == 'song' %}
				{% for song in songs %}
					{% include 'listing/partials/song-item' with {song:song} %}
				{% endfor %}
			{% endif %}
		</div>
	</div>
{% endblock %}