<div class="title row">
	<span class="col-xs-1">
		<a type="button" class="btn btn-default glyphicon glyphicon-home" href="/">
		</a>
	</span>
	<span class="col-xs-10">#Craig andJess</span>
</div>
<div class="subtitle row col-xs-12">{{ pageSubtitle }}</div>