{% extends 'layouts/html.twig' %}

{% set redirect = true %}
{% block mainContent %}
<div class="row">
	<div class="col-xs-12">
		Thanks! Your song has been added to the queue!
	</div>
</div>
{% endblock %}