<!DOCTYPE html>
<html>
<head>
	<title>Jukebox</title>
	<base href="{{ url('base_url') }}" target="_blank" />
	{% include 'layouts/partials/css' %}

</head>
<body>
<div class="container-fluid">
	<div class="header row">
		{% include 'header/header' %}
	</div>
	<div class="content row">
		{% block mainContent %}{% endblock %}
	</div>
	<div class="footer row">
	{% include 'footer/footer' %}
	</div>
</div>
</body>
</html>
